@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins';
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: normal;
  }
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block !important; /* centers text inside tabs */
  flex: 1;
  text-align: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}
